{
   project =
   {
      description="📣 Unicode regex library";
      domain="github";
      name="mulle-regex";
      user="mulle-c";
      repo="mulle-regex";
      homepage="https://github.com/mulle-c/mulle-regex";
      license="Custom"
   };
   dependencies =
   (
      {
         name="mulle-utf";
         url="https://github.com/mulle-c/mulle-utf";
         description="🔤 UTF8-16-32 analysis and manipulation library";
      }
   )
}
